.footer {
  padding: 48px 0 36px;
  width: 282px;
  margin: 0 auto;
}

@media screen and (min-width: 620px) {
  .footer {
    width: 581px;
  }
}

@media screen and (min-width: 920px) {
  .footer {
    width: 880px;
  }
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  color: #545454;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px; 
  }
}
